@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-top: -15%;
}

.formGroup, .label  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2%;
    width: 45%;
}

.formGroup input,
.formGroup .label input,
.formGroup select,
.formGroup textarea,
.formCheck input,
.passarea input, /* Incluí o campo de senha */
.senhaRequisito,
.label input,
.btn {
    width: 300px; /* Defina uma largura fixa para os inputs */
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

.formLabel {
    font-family: 'Josefin Sans Medium', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: none;
    width: 100%;
}

.usuario .dropdown {
    margin-top: 2%;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    position: relative; /* Para posicionar o dropdown corretamente */
    background-color: #252525; /* Fundo branco para o dropdown */
}

.dropdown_input {
    display: flex;
    justify-content: space-between; /* Espaço entre o texto e o ícone */
    align-items: center; /* Centraliza verticalmente o texto e o ícone */
    padding: 10px; /* Espaçamento interno para conforto */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
}

.dropdown_menu {
    position: absolute; /* Posiciona o menu dropdown relativo ao seu contêiner pai */
    top: 100%; /* Coloca o menu logo abaixo do input */
    left: 0;
    width: 100%; /* Largura do menu igual à largura do input */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o menu */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    background-color: #252525; /* Fundo do menu */
    border: 1px solid white;
}

.dropdown_item {
    padding: 10px; /* Espaçamento interno para os itens do dropdown */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-bottom: 1px solid #eee; /* Divisória entre os itens */
}

.dropdown_item:hover {
    background-color: #919191; /* Efeito de hover nos itens */
    border-radius: 10px;
}

.dropdown_item:last-child {
    border-bottom: none; /* Remove a divisória do último item */
}

.formLabel::placeholder {
    color: #252525;
    text-align: left;
}

.label {
    font-size: 105%;
    font-family: 'Josefin Sans Medium', sans-serif;
}


.formControl {
    font-family: 'Josefin Sans Medium', sans-serif;
    color: #252525;
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Uniformiza a largura */
    box-sizing: border-box; /* Inclui o padding no cálculo da largura */
}

.invalidPl::placeholder {
    color: #8e7f7e23;
}


.errorBox {
    margin-top: 5%;
    margin-bottom: 5%;
}

.formError {
    font-family: 'Josefin Sans Medium', sans-serif;
    padding: 10px;
    background-color: #8e7f7eb1;
    border-radius: 10px;
    margin-top: 2%;
    color: #fff;
    font-size: 70%;
    text-transform: uppercase;
}

.senhaRequisito {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-top: 2%;
    color: #252525;
    font-size: 62%;
}

.passarea {
    position: relative; /* Isso permite posicionar os ícones dentro da área de senha */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



.eyeButton, .infoIcon {
    position: absolute;
    right: 10px; /* Ajuste a distância dos ícones da borda direita */
    background: none;
    border: none;
    cursor: pointer;
    color: #252525;
}

.eyeButton {
    right: 30px; /* Coloca o botão de olho um pouco à esquerda do infoIcon */
}

.infoIcon {
    right: 10px; /* Mantém o ícone de informação mais à direita */
}

.infoIcon .tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona a tooltip acima do ícone */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.infoIcon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.Formlabel {
    font-size: 120%;
    font-family: 'Josefin Sans Medium', sans-serif;
}

.remind a {
    text-decoration: none;
    color: #252525;
    font-weight: bold;
}

.btn {
    padding: 3% 3%;
    background-color: white;
    color: #252525;
    border: none;
    border-radius: 15px;
    margin-top: 10%; /* Aumenta a margem superior */
    width: 20%; /* Define a largura do botão */
    font-family: 'Josefin Sans Medium', sans-serif;
    display: flex; /* Garante que o botão seja tratado como um flex item */
    justify-content: center; /* Centraliza o conteúdo do botão */
    align-items: center; /* Centraliza verticalmente o conteúdo do botão */
    margin-left:80%; /* Alinha o botão à direita se o contêiner for flexível */
}

.remind,
.formCheck {
    width: 100%;
    margin-left: 0%;
    margin-top: 10px;
}

.btn:hover {
    background-color: #252525;
    border-radius: 15px;
    border: 1px solid white;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

.closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalText {
    font-family: 'Josefin Sans Medium', sans-serif;
    color: #252525;
}

.logar {
    border-radius: 15px;
    padding: 2% 10%;
    text-decoration: none;
    color: #fff;
    background-color: #252525;
    border: none;
}

.logar a {
    text-decoration: none;
    color: #fff;
}

.logar:hover {
    background-color: #474747;
}

/* Esconde o input real */
.hiddenInput {
    display: none;
}

/* Botão customizado para o input de arquivo */
.customFileButton {
    background-color: #252525;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
 
}

/* Efeito de hover para o botão customizado */
.customFileButton:hover {
    background-color: #616161;
}

/* Estilo para o nome do arquivo selecionado */
.fileName {
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}
