@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}


.elipse3, .elipse4 {
    position: absolute;
    animation-duration: 7s;
    animation-timing-function: ease-in-out; /* Suavidade na animação */
    animation-fill-mode: forwards; /* Mantém a posição final após a animação */
    animation-iteration-count: infinite; /* Faz a animação se repetir indefinidamente */
}

.elipse3 {
    top: -10%; /* Posiciona um pouco acima da tela */
    left: 0;
    animation-name: slideDown;
}

.elipse4 {
    bottom: -10%; /* Posiciona um pouco abaixo da tela */
    right: 0;
    animation-name: slideUp;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%); /* Começa fora da tela, de cima */
    }
    50% {
        transform: translateY(0); /* Vai para a posição original */
    }
    100% {
        transform: translateY(-100%); /* Mantém na posição final */
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%); /* Começa fora da tela, de baixo */
    }
    50% {
        transform: translateY(0); /* Vai para a posição original */
    }
    100% {
        transform: translateY(100%); /* Mantém na posição final */
    }
}

.title h1 {
    animation-duration: 1s; /* Duração da animação */
    animation-timing-function: ease-in-out; /* Suavidade na animação */
    animation-fill-mode: forwards; /* Mantém a posição final após a animação */
    animation-name: slideInLeft; /* Nome da animação */
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%); /* Começa fora da tela, à esquerda */
        opacity: 0; /* Inicia invisível */
    }
    100% {
        transform: translateX(0); /* Vai para a posição original */
        opacity: 1; /* Fica visível */
    }
}

.cadastro {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cadastro .title h1 {
    font-family: 'Josefin Sans Bold';
    font-size: 210%;
    margin-bottom: 45%;
    position: absolute;
    top: 9%;
    left: 36%;
}

.form {
    margin-top: 20%;
}

.logo {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .title h1 {
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Josefin Sans Bold;
    font-size: 250%;
}

@media (max-width: 1000px) {
    .page {
        flex-direction: column;
    }
}
