@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.dashboard_admin {
    flex: 1; /* Faz o conteúdo ocupar todo o espaço restante */
    display: flex;
    flex-direction: column;
    padding: 20px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo para o conteúdo */
    overflow-y: auto; /* Rolagem vertical, se necessário */
    margin-left: 5%;
}



.content {
    display: flex; /* Menu e conteúdo ficam lado a lado */
    flex-direction: row; /* Alinha os elementos horizontalmente */
    height: 100vh; /* Garante que ocupe toda a altura da tela */
    transition: margin-left 0.3s ease; /* Animação suave para menu */
}

.content.open {
    margin-left: 0; /* Ajuste para menu aberto */
}

.content.closed {
    margin-left: -200px; /* Ajuste para menu fechado (se necessário) */
}


.saudacoes{
    font-family: 'Josefin Sans Medium';
    font-size: 150%;
    color: #252525;
    
    
}

.saudacoes p{
    font-family: 'Josefin Sans Light';
    font-weight: 550;
    font-size: 70%;
    color: #252525;

}


.agenda{
    margin-top: 5%;
    width: 700px;
    background-color: #fff;
    border-radius: 15px;
    border: #252525 1px solid;
    margin-bottom: -12%;
    padding-bottom: 5% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.line{
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.meta{ 
    margin-left: 4%;
}


.cub{
    display: flex;
    
}


.imagem img{
    padding: 35px 45px;
    border-radius: 0px 0px 10px 10px;
    background-color: #252525;
    position: absolute;
    right: 4%;
    top: 0;

}
  
  .ripple {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    width: 250px; /* Largura do menu */
    transition: width 0.3s ease; /* Animação suave ao abrir/fechar */
    background-color: #f8f8f8; /* Cor de fundo para o menu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombras para destaque */
}

.menu.closed {
    width: 50px; /* Largura reduzida quando fechado */
}


@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Menu e conteúdo empilhados */
    }

    .menu {
        width: 100%; /* Menu ocupa a largura total */
    }

    .dashboard_admin {
        width: 100%; /* Conteúdo ocupa a largura total */
    }
}
