@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.dashboard_admin{
    display: flex;
    flex-direction: row;
    align-items: center;
  

}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 5%;

}
.saudacoes{
    font-family: 'Josefin Sans Medium';
    font-size: 150%;
    color: #252525;
    
    
}

.saudacoes p{
    font-family: 'Josefin Sans Light';
    font-weight: 550;
    font-size: 70%;
    color: #252525;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5%;
    

}

.agenda{
    margin-top: 5%;
    width: 700px;
    background-color: #fff;
    border-radius: 15px;
    border: #252525 1px solid;
    margin-bottom: -12%;
    padding-bottom: 5% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.line{
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.meta{ 
    margin-left: 4%;
}


.cub{
    display: flex;
    
}


.imagem img{
    padding: 35px 45px;
    border-radius: 0px 0px 10px 10px;
    background-color: #252525;
    position: absolute;
    right: 4%;
    top: 0;

}
  
  .ripple {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
/* No seu arquivo CSS */
.content {
    transition: margin-left 0.3s ease; /* Animação suave */
}

.content.closed {
    margin-left: -10%; /* Se o menu estiver fechado */
}

.content.open {
    margin-left: 2%; /* Ou a largura do seu menu */
}


