/* Estilos gerais */
@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Garante que o contêiner ocupe toda a altura da tela */
    position: relative; /* Define o contêiner principal como referência */

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 2%;
    width: 60%; /* Controle de largura para centralizar */
    margin: 0 auto; /* Centraliza horizontalmente */
    background-color: #252525;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Josefin Sans Medium';
    font-size: larger;
}


.nav img {
    margin-right: auto; /* Mantém a imagem à esquerda */
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 2% 2%;
    margin-left: 10px; /* Espaço entre os links e a imagem */
}
.nav a:hover {
    font-family: 'Josefin Sans bold';

    color: rgb(102, 102, 102);
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10%;
    font-family: 'Josefin Sans Medium';
    text-align: center; /* Centraliza o texto */
    margin-top: 10%;
}


.main h1{
    font-size: 350%;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}



.black{
    color: #6a6a6a;
}

.button{
    border-radius: 10px;
    border: 1px solid #252525;
    padding: 10px 15px;

}

.btn {
    background-color: #252525;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Josefin Sans Medium';
    font-size: medium;

}

.footer img {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-right: 0; /* Alinha a imagem à direita */
    height: auto;
}