@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.elipse1, .elipse2 {
  position: absolute;
  animation-duration: 7s;
  animation-timing-function: ease-in-out; /* Suavidade na animação */
  animation-fill-mode: forwards; /* Mantém a posição final após a animação */
  animation-iteration-count: infinite; /* Faz a animação se repetir indefinidamente */
}

.elipse1 {
  top: -10%; /* Posiciona um pouco acima da tela */
  left: 0;
  animation-name: slideDown;
}

.elipse2 {
  bottom: -10%; /* Posiciona um pouco abaixo da tela */
  right: -2%;
  animation-name: slideUp;
}

@keyframes slideDown {
  0% {
      transform: translateY(-100%); /* Começa fora da tela, de cima */
  }
  50% {
      transform: translateY(0); /* Vai para a posição original */
  }
  100% {
      transform: translateY(-100%); /* Mantém na posição final */
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%); /* Começa fora da tela, de baixo */
  }
  50% {
      transform: translateY(0); /* Vai para a posição original */
  }
  100% {
      transform: translateY(100%); /* Mantém na posição final */
  }
}

  /* Estilos do login */
  .login {
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #252525;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* Título com animação */
  .login .title h1 {
    font-family: 'Josefin Sans Bold';
    font-size: 250%;
    margin-bottom: 60%;
    margin-top: -50%;
    opacity: 0;
    animation: slideInFromLeft 2s ease forwards;
    animation-delay: 1s; /* Atraso para surgir após as elipses */
  }

/* Adicionando a animação para o título */
.title h1 {
  animation-duration: 1s; /* Duração da animação */
  animation-timing-function: ease-in-out; /* Suavidade na animação */
  animation-fill-mode: forwards; /* Mantém a posição final após a animação */
  animation-name: slideInLeft; /* Nome da animação */
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%); /* Começa fora da tela, à esquerda */
      opacity: 0; /* Inicia invisível */
  }
  100% {
      transform: translateX(0); /* Vai para a posição original */
      opacity: 1; /* Fica visível */
  }
}

.form{
    margin-right: 20%;
}

.logo{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo .title h1{
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans Bold';
    font-size: 250%;
}

@media (max-height: 650px){
    .elipse1{
        width: 40%;
        height: 40%;
    }
    .elipse2{
        width: 40%;
        height: 40%
    }
}

@media (max-width: 1203px) {
    .elipse1, .elipse2 {
        display: none;
    }

    .page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo, .login {
        width: 100%;
        position: relative;
        top: 0;
    }

    .logo {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login {
        height: 100%;
        background-color: #252525;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login .title h1, .logo .title h1 {
        font-size: 130%;
        margin: 0;
    }

   
    .form {
        margin: 0;
        width: 80%;
        display: flex;
        justify-content: center;
    }
}


@media (max-width: 768px) {
    .login .title h1, .logo .title h1 {
        font-size: 150%;
    }
}

@media (max-width: 480px) {
    .login .title h1, .logo .title h1 {
        font-size: 100%;
    }
}
