@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

.proximaPublicacao {
    padding: 5%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 2px 2px #eee;
    width: 300%;
    border-radius: 15px;
    font-family: 'Josefin Sans Medium';
    margin-bottom: 2%;
}

.proximaPublicacao h2 {
    color: #252525;
}

.publicacao {
    display: flex;
    flex-direction: row;
    gap: 50%;
}

.titulo {
    background-color: #252525;
    color: #fff;
    text-align: center;
    padding: 80%;
    border-radius: 15px;
    width: 150%;
    font-size: 90%;
    position: relative; /* Torna possível posicionar o .data */
}

.data {
    position: absolute;
    margin-left: 3%;
    bottom: 2%;
    background-color: #fff;
    padding: 0.5% 1%;
    color: #252525;
    border-radius: 15px;
    font-size: 80%;
}

.lateral {
    color: #252525;
    border-radius: 10px;
    border: 1px solid #252525;
    display: flex;
    flex-direction: column;
    padding: 3% 9%;
    margin-top: -5%;
    margin-left: -14%;
}

.descricao, .empresa {
    margin-left: -30%;
}
