.link {
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Josefin Sans medium';
    font-size: 100%;
    width: 100%;
    text-decoration: none; /* Remover sublinhado */
}

 .link:hover,
 .link.active {
    color: #7d7d7d;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    font-weight: bold;
    text-decoration: none; /* Remover sublinhado */
    padding-right: calc(100vw - 20px);
    text-decoration: #ffffff;
}

.Link{
    text-decoration: none;
}

/* Ajustes de fontes para responsividade */
@media (max-width: 768px) {
    .link {
        font-size: 90%; /* Ajustado proporcionalmente */
        padding: 20px; /* Ajustado proporcionalmente */
    }
}

@media (max-width: 480px) {
    .link {
        font-size: 80%; /* Ajustado proporcionalmente */
        padding: 15px; /* Ajustado proporcionalmente */
    }
}

@media (max-width: 320px) {
    .link {
        font-size: 70%; /* Ajustado proporcionalmente */
        padding: 10px; /* Ajustado proporcionalmente */
    }
}

@media (max-width: 240px) {
    .link {
        font-size: 60%; /* Ajustado proporcionalmente */
        padding: 5px; /* Ajustado proporcionalmente */
    }
}

@media (max-width: 160px) {
    .link {
        font-size: 50%; /* Ajustado proporcionalmente */
        padding: 3px; /* Ajustado proporcionalmente */
    }
}