@font-face {
    font-family: 'Josefin Sans Light';
    src: url('../../../../src/josefin/JosefinSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Bold';
    src: url('../../../../src/josefin/JosefinSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Josefin Sans Medium';
    src: url('../../../../src/josefin/JosefinSans-Medium.ttf') format('truetype');
}

/* menu.module.css */
.menu {
    width: 200px; /* Ajuste conforme a largura do seu menu */
    transition: transform 0.3s ease; /* Para uma animação suave */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Certifique-se de que o menu está acima do conteúdo */
}

.menu.open {
    transform: translateX(0); /* O menu está visível */
}

.menu.closed {
    transform: translateX(-100%); /* O menu está escondido para a esquerda */
}


.menu {
    display: flex;
    width: 18vw;
    height: 90vh;
    background: #BA6DB5;
    color: white;
    flex-direction: column;
    margin: 2%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: width 0.3s ease;
    text-decoration: none;
}

.menu .imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

.menu .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.menu .imagem img,
.menu .imagem .defaultIcon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.menu .imagem .defaultIcon {
    font-size: 70%;
    color: #cccccc;
}

.menu .editButton {
    position: absolute;
    left: 60%;
    top: 20%;
    background-color: #ffffff;
    color: #BA6DB5;
    border: none;
    border-radius: 50%;
    padding: 0.6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu .editButton:hover {
    background-color: #f0f0f0;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 20px;
}

.menu .link {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 1.8vh 0.8vw;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: 'Josefin Sans Medium';
    font-size: 1.6vh;
    transition: background-color 0.3s;
    width: 100%;
}

.menu .link:hover,
.menu .link.active {
    color: #BA6DB5;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
    font-weight: bold;
    text-decoration: none;
}

.menu .link:hover {
    padding-right: calc(100vw - 20px);
    text-decoration: none;
}



.menuToggle {
    color: #BA6DB5;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute; /* Permite que o botão fique dentro do menu */
    border-radius: 5px; /* Arredondar os cantos do botão */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 2px 5px #BA6DB5; /* Sombra para destaque */
    background-color: #ffffff ;
    transition: background 0.3s;
    bottom: 10%;
    right: -5px;

}




.nav {
    display: flex;
    flex-direction: column;
}

.menu {
    transition: transform 0.3s ease; /* Animação para abrir/fechar */
}

.menu.open {
    transform: translateX(0); /* Menu visível */
}

.menu.closed {
    transform: translateX(-100%); /* Menu escondido */
}

@media (max-width: 1300px) {
    .menu {
        transform: translateX(-100%); /* Esconde o menu */
    }
    .menu.open {
        transform: translateX(0); /* Exibe o menu quando aberto */
    }
}



